@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root
{
    --bodycolor: rgb(27, 27, 27);
    --textcolor:rgb(248, 248, 248);
    --yellowcolor: rgb(243, 233, 140);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
    text-decoration: none;
    color: var(--textcolor);
}
a:hover{
  text-decoration: 1px underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
