

.dashboard
{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.side-nav
{
    width: 25%;
    min-width: 250px;
    height: 95%;
    margin-right: 10px;
    /* border-right: 1px dashed var(--textcolor); */
}