.password-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.password-container h1, .error-message {
	font-size: 2.5rem;
	margin: 0;
	color: var(--textcolor);
}

.password-container p {
	font-size: 1.3rem;
}

.password-container a, .try-again {
	color: rgb(243, 233, 140);
    cursor: pointer;
    font-weight: 600;
}

.try-again:hover {
	text-decoration: underline;
}

label,
input {
	display: block;
	margin: 5px 0;
}

.password-container label {
	color: var(--textcolor);
	font-weight: 600;
}

.password-container input {
	background-color: rgba(139, 137, 137, 0.39);
	color: #e8f0fe;
	border-radius: 5px;
	border: none;
	padding: 8px 10px;
	font-size: 1.2rem;
	margin: 10px 0 20px;
	width: 90%;
	min-width: 200px;
}

input:focus {
	outline: none;
}

.password-container button {
	display: block;
	margin: 20px 0px;
	padding: 8px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	background-color: rgb(243, 233, 140);
	border: none;
	border-radius: 2px;
	font-weight: 600;
}

.password-container button:hover {
	background-color: #f5e44f;
}
